.top-header-business {
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    display: block;
    background-color: white;
    top: 0;
    font-family: $main-font;
    z-index: 2;
}

.navbar-search {
    font-family: $main-font;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 14px 17px;
    border-bottom: 1px solid lightgray;
    .search-bar {
        border: 1px solid #D1D0D4;
        box-shadow: 0 0 3px 1px #e6e6e6;
        button {
            background-color: $bright-red;
        }
    }
    .businesses {
        color: black;
        text-decoration: none;
        &:hover {
            border-bottom: 1px solid black;
        }
    }
}

.logo {
    width: 102px;
}


.session-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.buttons-container {
    width: 300px;
    display: flex;
    align-items: center;
}

.login-button-search, .signup-button-search {
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
}

.login-button-search {
    padding: 10px 14px;
    color: black;
    border: 1px solid lightgray;
    margin-right: 10px;
    &:hover {
        background-color: lightgray;
    }
}

.signup-button-search {
    color: white;
    background-color: $bright-red;
    border: 1.7px solid $bright-red;
    padding: 10px 12px;
    &:hover {
        box-shadow: 0 0 3px 1px #e6e6e6;
    }
}
        
.icon-search {
    justify-content: center;
    padding: 4px;
    &:hover .modal-search {
        display: flex;
    }
    i {
        cursor: pointer;
    }
}

.modal-search {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    width: 150px;
    padding: 10px;
    z-index: 99;
    box-shadow: $shadow;
    font-size: 14px;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    .user-search, i {
        padding-bottom: 5%;
        border-bottom: 1px solid lightgray;
        font-weight: 500;
    }
    
    .fa-user {
        text-align: left;
        padding-top: 7%;
    }
    
    .logout-button-search {
        background-color: white;
        border: none;
        text-align: left;
        font-size: 14px;
        padding-top: 5%;
        padding-left: 0%;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.icon-search:hover .modal-search {
    display: flex;
}