.top-header-business {
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    display: block;
    background-color: white;
    top: 0;
    font-family: $main-font;
}

.navbar-search {
    font-family: $main-font;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 12px 17px;
    border-bottom: 1px solid lightgray;
}

.logo {
    width: 85px;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar {
    input {
        font-size: 12px;
        width: 555px;
        padding: 6px;
        border: 1px solid #D1D0D4;
        border-radius: 2px 0px 0px 2px;
        box-shadow: 0 0 3px 1px #e6e6e6;
    }
}

.search-button-container {
    padding: 4.75px 9px;
    border: 1px solid $bright-red;
    border-radius: 0 2px 2px 0;
    background-color: $bright-red;

    i {
        color: white;
    }
}

.session-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.links-logo-container {
        display: flex;
        align-items: center;
        padding-left: 10%;
        img {
            width: 20px;
            padding: 5px;
        }
    }

.buttons-container {
    width: 300px;
    display: flex;
}

.login-button-search, .signup-button-search {
    text-decoration: none;
    font-size: 11px;
    // margin: 4px;
}

.login-button-search {
    padding: 6px 10px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-right: 2%;
    &:hover {
        background-color: lightgray;
    }
}

.signup-button-search {
    color: white;
    background-color: $bright-red;
    border: 1.7px solid $bright-red;
    border-radius: 2px;
    padding: 5px 9px;
    &:hover {
        box-shadow: 0 0 3px 1px #e6e6e6;
    }
}
        
.icon-search {
    justify-content: center;
    padding: 4px;
    &:hover .modal-search {
        display: flex;
    }
    i {
        cursor: pointer;
    }
}

.modal-search {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    transform: translate(-87%, 10%);
    width: 150px;
    padding: 10px;
    z-index: 99;
    box-shadow: $shadow;
    font-size: 10px;
    
    .user-search, i {
        padding-bottom: 5%;
        border-bottom: 1px solid lightgray;
        font-weight: 500;
    }
    
    .fa-user {
        text-align: left;
        padding-top: 7%;
    }
    
    .logout-button-search {
        background-color: white;
        border: none;
        text-align: left;
        font-size: 10px;
        padding-top: 5%;
        padding-left: 0%;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.icon-search:hover .modal-search {
    display: flex;
}