.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    // color: black;
    font-family: $main-font;

    .business-index {
        .businesses {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 5px 10px;
            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }

    .right-navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 400px;
        .login-signup {
            .login-button, .signup-button {
                text-decoration: none;
                color: black;
                font-weight: 600;
                margin: 5px;
            }

            .login-button {
                padding: 5px 10px;
                &:hover {
                    border-bottom: 2px solid black;
                }
            }

            .signup-button {
                border: 2px solid black;
                border-radius: 3px;
                padding: 4px 18px;
                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}

.navbar-dropdown {
    display: inline-block;
    position: relative;
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    &:hover .navbar-dropdown-content{
        display: block;
    }
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    font-family: $main-font;
    font-size: 16px;
    background-color: white;
    z-index: 1;
    width: 200px;
    border-radius: 2px;
    padding: 10px;
    right: 5px;
    margin-top: 5px;
    color: $blue;
}

.greeting-container {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
    i {
        border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        padding: 3px 5px;
        color: $light-gray;
    }
    h2 {
        padding-left: 5px;
        font-size: 14px;
        font-weight: 600;
    }
}

.about-me {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid lightgray;
    i {
        color: black;
        padding-right: 5px;
    }
    a {
        text-decoration: none;
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

.logout-button {
    border: none;
    background-color: white;
    font-size: 16px;
    padding-top: 7px;
    color: $blue;
    &:hover {
        cursor: pointer;
    }
}