.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    font-family: $main-font;

    .business-index {
        .businesses {
            text-decoration: none;
            color: white;
            font-weight: 600;
            padding: 5px 10px;
            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }

    .right-navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 400px;
        .logo-container {
                padding-left: 23%;
                display: flex;
                align-items: center;
                img {
                    width: 28px;
                    padding: 7px;
                }
            }

        .login-signup {
            .login-button, .signup-button {
                text-decoration: none;
                color: white;
                font-weight: 600;
                margin: 5px;
            }

            .login-button {
                padding: 5px 10px;
                &:hover {
                    border-bottom: 2px solid white;
                }
            }

            .signup-button {
                border: 2px solid white;
                border-radius: 3px;
                padding: 4px 18px;
                &:hover {
                    color: gray;
                    background-color: white;
                }
            }
        }
    }
}

.navbar-dropdown {
    display: inline-block;
    position: relative;
    &:hover .navbar-dropdown-content{
        display: block;
    }
}

.navbar-dropdown-button {
    border: none;
    cursor: pointer;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 2px;
    padding: 20px, 5px;
    
}
.navbar-dropdown-content {
    display: none;
    position: absolute;
    font-family: $main-font;
    font-size: 10px;
    background-color: white;
    z-index: 1;
    min-width: 110px;
    border-radius: 2px;
    padding: 10px;
    right: 5px;
    margin-top: 5px;
}

.greeting-container {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
    i {
        border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        padding: 3px 5px;
    }
    h2 {
        padding-left: 5px;
        font-size: 9px;
        font-weight: 600;
        color: $teal;
    }
}

.about-me {
    display: flex;
    color: $teal;
    font-size: 9px;
    font-weight: 600;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid lightgray;
    i {
        color: black;
        padding-right: 5px;
    }
}

.logout-button {
    border: none;
    color: $teal;
    background-color: white;
    font-size: 10px;
    padding-top: 7px;
    &:hover {
        cursor: pointer;
    }
}