.index-body-container {
    font-family: $main-font;
    display: flex;
}

.filters-container {
    margin-top: 100px;
    right: 0;
    height: 100vh;
    width: 200px;
    padding: 20px 40px;
    font-family: $main-font;
}

.price-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.filters-title {
    font-size: 16px;
    font-weight: 600;
}

.price-buttons {
    padding: 17px 0;
    border-bottom: 1px solid lightgray;
    button {
        font-size: 11px;
        font-weight: 500;
        width: 50px;
        background-color: white;
        border: 1px solid lightgray;
        padding: 7px 0;
        cursor: pointer;
        &:first-child {
            border-radius: 15px 0 0 15px;
        }
        &:last-child {
            border-radius: 0 15px 15px 0;
        }
        &:hover {
            background-color: lightgray;
        }
        &:focus {
            background-color: lightgray;
        }
    }
}

.category-filter-container {
    padding: 15px 0 13px 0;
    div {
        font-size: 15px;
        font-weight: 600;
    }
    button {
        font-family: $main-font;
        font-size: 12px;
        font-weight: 500;
        background-color: white;
        border: 1px solid lightgray;
        padding: 6px 12px;
        border-radius: 17px;
        margin: 0 5px 5px 0;
        &:hover {
            background-color: lightgray;
        }
        &:focus {
            background-color: lightgray;
        }
    }
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 13px 0;
}

.business-body {
    margin-top: 100px;
    padding-top: 20px;
    font-family: $main-font;
    width: 45%;
    h3 {
        font-size: 12px;
        font-weight: 500;
        color: gray;
        padding-bottom: 10px;
    }
}

.result-title {
    font-family: $main-font;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 5px 0;
}

.business-index-item {
    font-family: $main-font;
    width: 100%;
    cursor: pointer;

    .index-item-info {
        display: flex;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 20px;
        margin: 20px 20px 15px 0;
        &:hover {
        box-shadow: 0 0 3px 1px #e6e6e6;
    }

        .img-container {
            height: 230px;
            width: 230px;
    
            .index-photo {
                height: 100%;
                width: 100%;
                border-radius: 3px;
            }
        }

        .info-container {
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            .index-item-name {
                font-weight: bold;
                font-size: 20px;
            }

            .index-item-category {
                font-size: 12px;
                font-weight: bold;
                color: #4a4646;
                border: 1px solid #E7E7E7;
                border-radius: 3px;
                background-color: #E7E7E7;
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.average-rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    padding: 12px 0 8px 0;
    color: gray;
    font-size: 14px;
    img {
        width: 110px;
    }
}

.random-review {
    padding-top: 15px;
    font-size: 14px;
    color: gray;
    i {
        color: black;
    }
}