.result-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 2%;
}

.business-index-item {
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;

    .index-item-info {
        display: flex;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 2%;
        margin: 2%;
        &:hover {
        box-shadow: 0 0 3px 1px #e6e6e6;
    }

        .img-container {
            height: 150px;
            width: 150px;
        
    
            .index-photo {
                height: 100%;
                width: 100%;
                border-radius: 3px;
            }
        }

        .info-container {
            padding-left: 15px;
            display: flex;
            flex-direction: column;

            .index-item-name {
                font-weight: bold;
                font-size: 15px;
            }

            .index-item-category {
                font-size: 9px;
                font-weight: bold;
                color: #4a4646;
                border: 1px solid #E7E7E7;
                border-radius: 2px;
                background-color: #E7E7E7;
                padding: 2px;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

