.create-review-container {
    font-family: $main-font;
    margin: auto;
    width: 600px;
    

    .review-header-container {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .review-title {
            font-size: 30px;
            text-decoration: none;
            font-weight: 700;
            color: black;
        }
        a {
            text-decoration: none;
            color: $teal;
            font-size: 13px;
            font-weight: 500;
        }
    }

    .review-body-container {
        height: 350px;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 3px;
    }

    .star-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        
        input[type="radio"] {
            display: none;
            &:checked ~ label, &:hover ~ label {
                background-color: $bright-red;
            }
        }

        label {
            background-color: $light-gray;
            margin: 1px;
            border-radius: 3px;
            .fa-star {
                cursor: pointer;
                color: white;
                padding: 7px;
            }
        }
    }

    .rating-selector {
        padding-bottom: 15px;
    }

    textarea {
        resize: none;
        outline: none;
        border: none;
        width: 550px;
        height: 270px;
        font-size: 15px;
        font-family: $main-font;
        &::placeholder {
            color: $light-gray;
        }
    }

    .post-review-button {
        margin-top: 2rem;
        font-size: 16px;
        font-weight: 500;
        color: white;
        background-color: $bright-red;
        border: 1px solid $bright-red;
        border-radius: 3px;
        padding: 10px 50px;
        cursor: pointer;
        box-shadow: $shadow;
    }
    
}

.review-errors {
    font-size: 12px;
    color: red;
    bottom: 0;
}